<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-1" type="button" (click)="listarFarmacos()">Listar Farmacos</button>
    <button class="btn btn-sm btn-outline-secondary me-3" type="button" (click)="guardarFarmaco()">Guardar Farmaco</button>
    <button class="btn btn-outline-success me-1" type="button" (click)="listarFarmacias()">Listar Farmacias</button>
    <button class="btn btn-sm btn-outline-secondary me-5" type="button" (click)="guardarFarmacia()">Guardar Farmacia</button>
    <button class="btn btn-sm btn-outline-info me-3" data-bs-toggle="modal" data-bs-target="#modal-relacionar" type="button" >Relacionar</button>
    <button class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modal-desrelacionar" type="button" >Desrelacionar</button>
  </form>
</nav>

<div class="modal" id="modal-relacionar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear relacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="id-farmacia" class="form-label">ID de Farmacia</label>
          <input type="number" class="form-control" id="id-farmacia" name="id-farmacia" [(ngModel)]="peticion.farmacia_id">
        </div>
        <div class="mb-3">
          <label for="id-farmaco" class="form-label">ID de Farmaco</label>
          <input type="number" class="form-control" id="id" name="id-farmaco" [(ngModel)]="peticion.farmaco_id">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="relacionar()">Relacionar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-desrelacionar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar relacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="id-farmacia" class="form-label">ID de Farmacia</label>
          <input type="number" class="form-control" id="id-farmacia" name="id-farmacia" [(ngModel)]="peticion.farmacia_id">
        </div>
        <div class="mb-3">
          <label for="id-farmaco" class="form-label">ID de Farmaco</label>
          <input type="number" class="form-control" id="id" name="id-farmaco" [(ngModel)]="peticion.farmaco_id">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="desrelacionar()">Desrelacionar</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
